<h4>Algoritmo para juntar columnas del precio MTR y MDA del CENACE</>
<h5>De los archivos .csv previamente transformados del mismo año</>

In [ ]:
import pandas as pd #importamos pandas

In [17]:
# Leemos los archivos Nacionales por año
ano=2025 #cambiar el valor
df_Nacional_MTR=pd.read_csv(f'./Datos_limpios/Nacional/MTR/PreciosMargLocales NACIONAL MTR v{ano}.csv')
df_Nacional_MDA=pd.read_csv(f'./Datos_limpios/Nacional/MDA/PreciosMargLocales NACIONAL MDA v{ano}.csv')

In [18]:
# Coborramos de que estén correctos
df_Nacional_MTR.info()
df_Nacional_MDA.info()

<class 'pandas.DataFrame'>
RangeIndex: 20722777 entries, 0 to 20722776
Data columns (total 8 columns):
 #   Column                             Dtype
---  ------                             -----
 0   Unnamed: 0                         int64
 1   Fecha                              str
 2    Hora                              int64
 3    Clave del nodo                    str
 4    Precio marginal local ($/MWh)     float64
 5    Componente de energia ($/MWh)     float64
 6    Componente de perdidas ($/MWh)    float64
 7    Componente de congestion ($/MWh)  float64
dtypes: float64(4), int64(2), str(2)
memory usage: 1.2 GB
<class 'pandas.DataFrame'>
RangeIndex: 20722777 entries, 0 to 20722776
Data columns (total 8 columns):
 #   Column                             Dtype
---  ------                             -----
 0   Unnamed: 0                         int64
 1   Fecha                              str
 2    Hora                              int64
 3    Clave del nodo                    str
 4    Precio marginal local ($/MWh)     float64
 5    Componente de energia ($/MWh)     float64
 6    Componente de perdidas ($/MWh)    float64
 7    Componente de congestion ($/MWh)  float64
dtypes: float64(4), int64(2), str(2)
memory usage: 1.2 GB

In [19]:
# Eliminamos las columnas no deseadas
df_Nacional_MDA.drop(columns=['Unnamed: 0'], inplace=True)
df_Nacional_MTR.drop(columns=['Unnamed: 0'], inplace=True)

In [20]:
# Colocamos nuevos nombres representativos a las columnas
df_Nacional_MTR.columns=['Fecha','Hora','Clave del nodo','Precio marginal local ($/MWh) MTR','Componente de energia ($/MWh) MTR','Componente de perdidas ($/MWh) MTR','Componente de congestion ($/MWh) MTR']
df_Nacional_MDA.columns=['Fecha','Hora','Clave del nodo','Precio marginal local ($/MWh) MDA','Componente de energia ($/MWh) MDA','Componente de perdidas ($/MWh) MDA','Componente de congestion ($/MWh) MDA']

In [21]:
# Coborramos de que estén correctos
df_Nacional_MTR.info()
df_Nacional_MDA.info()

<class 'pandas.DataFrame'>
RangeIndex: 20722777 entries, 0 to 20722776
Data columns (total 7 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Fecha                                 str
 1   Hora                                  int64
 2   Clave del nodo                        str
 3   Precio marginal local ($/MWh) MTR     float64
 4   Componente de energia ($/MWh) MTR     float64
 5   Componente de perdidas ($/MWh) MTR    float64
 6   Componente de congestion ($/MWh) MTR  float64
dtypes: float64(4), int64(1), str(2)
memory usage: 1.1 GB
<class 'pandas.DataFrame'>
RangeIndex: 20722777 entries, 0 to 20722776
Data columns (total 7 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Fecha                                 str
 1   Hora                                  int64
 2   Clave del nodo                        str
 3   Precio marginal local ($/MWh) MDA     float64
 4   Componente de energia ($/MWh) MDA     float64
 5   Componente de perdidas ($/MWh) MDA    float64
 6   Componente de congestion ($/MWh) MDA  float64
dtypes: float64(4), int64(1), str(2)
memory usage: 1.1 GB

In [22]:
# Combinamos las columnas de los df usando las columnas en común que son: FECHA, HORA y CLAVE DEL NODO
df_union=pd.merge(df_Nacional_MTR,df_Nacional_MDA,on=['Fecha','Hora','Clave del nodo'])
# Verificamos los primeros registros
df_union.info()
df_union.head()

<class 'pandas.DataFrame'>
RangeIndex: 20722777 entries, 0 to 20722776
Data columns (total 11 columns):
 #   Column                                Dtype
---  ------                                -----
 0   Fecha                                 str
 1   Hora                                  int64
 2   Clave del nodo                        str
 3   Precio marginal local ($/MWh) MTR     float64
 4   Componente de energia ($/MWh) MTR     float64
 5   Componente de perdidas ($/MWh) MTR    float64
 6   Componente de congestion ($/MWh) MTR  float64
 7   Precio marginal local ($/MWh) MDA     float64
 8   Componente de energia ($/MWh) MDA     float64
 9   Componente de perdidas ($/MWh) MDA    float64
 10  Componente de congestion ($/MWh) MDA  float64
dtypes: float64(8), int64(1), str(2)
memory usage: 1.7 GB

,Fecha,Hora,Clave del nodo,Precio marginal local ($/MWh) MTR,Componente de energia ($/MWh) MTR,Componente de perdidas ($/MWh) MTR,Componente de congestion ($/MWh) MTR,Precio marginal local ($/MWh) MDA,Componente de energia ($/MWh) MDA,Componente de perdidas ($/MWh) MDA,Componente de congestion ($/MWh) MDA
0,2025-01-01,1,07ACU-115,410.55,407.63,2.92,0.0,408.76,406.36,2.39,0.0
1,2025-01-01,2,07ACU-115,410.40,407.63,2.77,0.0,407.13,404.87,2.26,0.0
2,2025-01-01,3,07ACU-115,357.41,355.06,2.36,0.0,1800.06,1792.98,7.08,0.0
3,2025-01-01,4,07ACU-115,357.31,355.07,2.25,0.0,483.85,481.88,1.98,0.0
4,2025-01-01,5,07ACU-115,371.64,369.57,2.07,0.0,484.29,482.31,1.98,0.0

In [ ]:
# Guardamos el dataframe en un archivo .csv
df_union.to_csv(f'./Datos_limpios/Nacional/MTR&MDA/PreciosMargLocales NACIONAL MTR&MDA v{ano}.csv',index=False)